<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title  - Tàu Thuyền Việt</title>
	@*/ViewBag.Title: Dùng để làm tiêu đề*@
	<vc:vc-css/>
</head>
<body>
	<vc:vc-navigation/>
	<main>
		@RenderBody()
	</main>
	<vc:vc-footer/>
   <vc:vc-script/>
</body>
</html>